@import "../../variables.scss";

.about_section {
  .container {
    padding: 100px 0;

    .header {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        text-transform: capitalize;
        font-size: 30px;
        position: relative;
        width: fit-content;

        &::before {
          content: "";
          position: absolute;
          bottom: -7px;
          background: $primary_color;
          height: 3px;
          width: 40%;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 10px;
        }

        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      p {
        margin-top: 15px;
        max-width: 600px;
        width: 100%;
      }
    }

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-top: 50px;

      .box_con {
        .box {
          position: absolute;
          max-width: 300px;
          width: 100%;

          .txt_box {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            text-align: center;
          }

          &:first-child {
            top: 0;
            left: 0;
          }

          &:nth-child(2) {
            top: 0;
            right: 0;
          }
          span {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background: $primary_color;
            border-radius: 50%;
            font-size: 14px;
            line-height: 0;
          }

          h3 {
            font-size: 16px;
          }

          .txt {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }
      }

      @media (max-width: 1024px) {
        .img {
          display: none;
        }

        .box_con {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .box {
            position: relative;
            width: 100%;
            max-width: 100%;
            display: flex;

            &:first-child {
              justify-content: left;
            }

            &:last-child {
              justify-content: right;
            }

            .txt_box {
              // box-shadow: 0 0 5px grey;
              border: 1px solid rgb(198, 197, 197);
              border-radius: 10px;
              overflow: hidden;
              padding: 30px;
              max-width: 400px;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
