.home_page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #e2f6fc, #ffffff);

  .container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 180px;
    align-items: center;

    .txt_con {
      width: 45%;

      h1 {
        font-size: 40px;
        line-height: 45px;

        @media (max-width: 1024px) {
          font-size: 30px;
          line-height: 35px;
        }

        @media (max-width: 768px) {
          font-size: 25px;
          line-height: 30px;
        }
      }

      p {
        padding: 20px 0;
      }

      .btns {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
          cursor: pointer;
          width: 140px;
          height: 45px;
        }
      }
    }

    .img_con {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      .txt_con {
        width: 100%;
        text-align: center;

        .btns {
          justify-content: center;
        }
      }

      .img_con {
        width: 100%;
      }
    }
  }
}
