nav {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s ease;
  z-index: 100;

  &.active {
    background: white;
    box-shadow: 0 0 5px grey;
    animation: animate 700ms ease;

    @keyframes animate {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 0;

    .logo {
      height: 20px;
      width: 90px;
    }
  }
}
